/* SEKCJA ENTRY */
/* jest w globalu

/* SEKCJA GALLERY INVITE */

.galleryinvite-container{
    position: relative;
    display: flex;
    flex-direction: row;
    top: -10rem;
}

@media (max-width: 767px){
    .galleryinvite-container{
        top: -4rem;
    }
}

.galleryinvite-title{
    position: relative;
    display: flex;
    flex-direction: column;
    left: 1rem;
}

.galleryinvite-title h2{
    text-align: left;
    top: 2rem;
    width: 260px;
    height: 100px;
    color: var(--primary-font);
    line-height: normal;
}

@media (max-width: 767px){
    .galleryinvite-title h2{
        top: 0;
    }
}

.galleryinvite-title a p{
    text-align: left;
    top: 3rem;
    width: 260px;
    height: 45px;
    color: var(--support-extra);
    line-height: normal;
}

@media (min-width: 768px) and (max-width: 1800px){
    .galleryinvite-title a p{
        top: 4rem;
    }
}

@media (max-width: 767px){
    .galleryinvite-title a p{
        top: -1rem;
    }
}

.galleryinvite-title a p:hover{
    text-shadow: var(--text-shadow);
}

.galleryinvite-gallery{
    position: relative;
    display: flex;
    flex-direction: row;
    top: -1rem;
    left: 16rem;
}

@media (min-width: 768px) and (max-width: 1800px){
    .galleryinvite-gallery{
        top: -1rem;
        left: 1rem;
    }
}

@media (max-width: 767px){
    .galleryinvite-gallery{
        top: -1rem;
        left: -2rem;
    }
}

@media (max-width: 1800px){
    .galleryinvite-image-box{
        display: none;
    }
}

@media (min-width: 1001px) and (max-width: 1800px){
    #important-to-view-p1, #important-to-view-p2{
        display: flex;
    }
}

@media (max-width: 1000px){
    #important-to-view-p1{
        display: flex;
    }
}

.galleryinvite-image-box img{
    width: 350px;
    height: 350px;
    align-self: center;
    padding: 1rem;
}

@media (min-width: 768px) and (max-width: 1800px){
    .galleryinvite-image-box img{
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 767px){
    .galleryinvite-image-box img{
        width: 150px;
        height: 150px;
    }
}

/* SEKCJA COPMANY PRESENTATION */

.compres-container{
    position: relative;
    top: -7rem;
    align-items: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 380px;
    background-color: var(--support);
}

@media (min-width: 768px) and (max-width: 1300px){
    .compres-container{
        height: 600px;
    }
}

@media (max-width: 767px){
    .compres-container{
        top: -3rem;
        height: 400px;
    }
}

.compres-title{
    position: relative;
    display: grid;
    text-align: center;
}

.compres-title h2{
    text-align: center;
    width: 620px;
    height: 45px;
    color: var(--secondary--font);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: normal;
    text-shadow: var(--text-shadow);
}

.compres-title p{
    text-align: center;
    width: 620px;
    height: 45px;
    color: var(--support-extra);
    font-size: .9rem;
    font-weight: 600;
    line-height: normal;
    text-shadow: var(--text-shadow);
}

.compres-comgallery{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: right;
}

@media (max-width: 1300px){
    .compres-comgallery{
        display: grid;
        grid: repeat(2, auto) / auto-flow;
    }
}

.compres-comimage-box{
    position: relative;
    width: 200px;
    height: 200px;
    margin: 1rem;
}

@media (max-width: 800px){
    .compres-comimage-box{
        width: 100px;
    height: 100px;
    }
}

.compres-comimage-box img{
    display: block;
    width: 200px;
    height: 200px;
}

@media (max-width: 800px){
    .compres-comimage-box img{
        width: 100px;
        height: 100px;
    }
}

.compres-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--secondary);
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: .3s ease;
  }

  .compres-comimage-box:hover .compres-info {
    transform: scale(1);
  }

  .compres-info p{
    position: absolute;
    width: 100%;
    height: auto;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

/* SEKCJA OTHER CONTENT */

.othercontent-container{
    position: relative;
    align-items: center;
    justify-items: center;
    display: flex;/*add*/
    flex-direction: column;/*add*/
    padding: 0;
    margin-top: 20px;
    margin: 0;
}

.othercontent-text{
    position: relative;
    display: grid;
    text-align: center;
    justify-items: center;
}

.othercontent-text h3{
    text-align: center;
    width: 620px;
    height: 45px;
    color: var(--secondary--font);
    font-size: 1.2rem;
    font-weight: 600;
    line-height: normal;
    text-shadow: var(--text-shadow);
}

.othercontent-text p{
    text-align: left;
    width: 60%;
    height: auto;
    color: var(--support-extra);
    font-size: .9rem;
    font-weight: 600;
    line-height: normal;
}