label{
    display: flex;
    color: var(--secondary--font);
    font-size: .9rem;
    font-weight: 400;
    margin: 3px 0;
}

input{
    border-radius: 10px;
}

/* SEKCJA FORMULARZA I ADRESU*/

.contact-data-container{
    display: flex;
    flex-direction: row;
    width: 80vh;
    justify-content: space-between;
    margin-left: 1%;
}

@media (max-width: 767px) {
    .contact-data-container {
        flex-direction: column;
        width: 32vh;
    }
}

.contact-form-title{
    padding-bottom: 1rem;
}

/*ADRES*/

.contact-data-adress-handler{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

/*FORMULARZ*/

.contact-data-form-handler{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--support-box);
    border-radius: 10px;
    padding: 1rem;
}

.contact-data-adress-handler h2, .contact-data-adress-handler p{
    color: var(--secondary-font);
}

.contact-form{
    padding: 0.2rem;
}

.form-item{
    position: relative;
    width: 100%;
    height: 58px;
    margin-bottom: 20px;
}

.form-name{
    position: absolute;
    left: 16px;
    top: -19px;
    padding: 8px;
    background-color: var(--support-box);
}

.form-input{
    width: 42vh;
    height: 100%;
    background: none;
    border: 2px solid var(--secondary);
    border-radius: 10px;
    padding: 1rem 0.3rem;
}

@media (max-width: 767px) {
    .form-input{
        width: 30vh;
    }
}

.form-text{
    position: relative;
}

.form-text textarea{
    height: 100px;
    resize: none;
}

.form-button{
    background-color: var(--secondary);
    color: var(--primary-font);
    font-weight: 600;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 10px;
    width: 100%;
}

.form-button:hover{
    transform: scale(1.03);
    background-color: var(--support-extra-light);
}

/* SEKCJA MAPY */

.contact-map{
    margin-top: 2rem; 
}

.contact-map iframe{
    width: 80vh;
    height: 30vh;
    border: 0;
}

@media (max-width: 767px) {
    .contact-map iframe {
        width: 34vh;
        height: 30vh;
    }
}