label{
    display: flex;
    color: var(--secondary--font);
    font-size: .9rem;
    font-weight: 400;
    margin: 3px 0;
}

input{
    border-radius: 10px;
}

h1{
    position: relative;
    width: 620px;
    height: 45px;
    color: var(--primary-font);
    font-size: 2.1rem;
    font-weight: 700;
    line-height: 50px;
    text-shadow: var(--text-shadow);
    text-transform: uppercase;
}

h2{
    height: 45px;
    color: var(--secondary-font);
    font-size: 1.8rem;
    font-weight: 600;
    text-shadow: var(--text-shadow);
}

.contact-title-section{
    position: relative;
    align-items: center;
    justify-items: center;
    display: flex;/*add*/
    flex-direction: column;/*add*/
    padding: 0;
    margin: 0;
    width: 100%;
    height: 380px;
    background-color: var(--secondary);
}

.contact-title-handler{
    display: grid;
    text-align: center;
}

.contact-title-handler p{
    position: relative;
    width: 620px;
    height: 45px;
    color: var(--support-font);
    font-size: .9rem;
    font-weight: 600;
    text-shadow: var(--text-shadow);
}

/* SEKCJA FORMULARZA I ADRESU*/

.contact-data-container{
    display: flex;
    flex-direction: row;
    width: 80vh;
    justify-content: space-between;
    margin-left: 1%;
}

.contact-form-title{
    padding-bottom: 1rem;
}

/*ADRES*/

.contact-data-adress-handler{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

/*FORMULARZ*/

.contact-data-form-handler{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--support-box);
    border-radius: 10px;
    padding: 1rem;
}

.contact-form{
    padding: 0.2rem;
}

.form-item{
    position: relative;
    width: 100%;
    height: 58px;
    margin-bottom: 20px;
}

.form-name{
    position: absolute;
    left: 16px;
    top: -19px;
    padding: 8px;
    background-color: var(--support-box);
}

.form-input{
    width: 40vh;
    height: 100%;
    background: none;
    border: 2px solid var(--secondary);
    border-radius: 10px;
    padding: 1rem 0.3rem;
}

.form-text{
    position: relative;
}

.form-text textarea{
    height: 100px;
    resize: none;
}

.form-button{
    background-color: var(--secondary);
    color: var(--primary-font);
    font-weight: 600;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 10px;
    width: 100%;
}

.form-button:hover{
    transform: scale(1.03);
    background-color: var(--support-extra-light);
}

/* SEKCJA MAPY */

.contact-map{
    margin-top: 2rem; 
}

.contact-map iframe{
    width: 80vh;
    height: 30vh;
    border: 0;
}