.gallery-container{
    align-content: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.gallery-title{
    text-align: center;

}

.gallery-wrapper{
    overflow: hidden;
    display: grid;
    grid: repeat(2, auto) / auto-flow;
    padding-top: 2%;
}

.gallery-item{
    position: relative;
    display: flex;
    margin: 2px;
}

.gallery-item img{
    width: 95%;
    margin: 5px 5px;
}