@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,600;0,700;1,100;1,600&display=swap&family=Roboto:wght@100;300;400&display=swap');

:root{
    --shadow-box: 0 .5rem 1rem rgba(0, 0, 0, .1);
    --bottom-shadow-box: 0 -.5rem 1rem rgba(0, 0, 0, .1);
    --text-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    /*font*/
    --primary-font: #FFFFFF;
    --secondary-font: #000000;
    --support-font: #F5F5F5;
    /*backgroud / item*/
    --primary: #F5F5F5;
    --secondary: #0B2241;
    --support: #EDEAEA;
    --support-box: #D9D9D9;
    --support-box-trans: #d9d9d9ec;
    /*rest*/
    --support-extra: #20263C;
    --support-extra-light: #017AC3;
}

/*GLOBALNE USTAWIENIA*/

*{
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all 1s ease-out;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
}

main{
    margin: 2% 0;
}

section{
    display: flex;
    justify-content: center;
    padding: 2% 0;
}

img:hover{
    transform: scale(1.03);
}

h1{
    display: grid;
}

h1 span{
    color: var(--primary-font);
    font-size: 2.1rem;
    font-weight: 700;
    width: 620px;
    height: 45px;
    text-shadow: var(--text-shadow);
    text-transform: uppercase;
}

@media (max-width: 767px) {
    h1 span{
        font-size: 1.7rem;
        width: 340px;
        height: 35px;
    }
}

h2{
    position: relative;
    color: var(--secondary-font);
    font-size: 1.6rem;
    font-weight: 600;
    width: 620px;
    height: 45px;
    text-shadow: var(--text-shadow);
}

@media (max-width: 767px) {
    h2{
        font-size: 1.2rem;
        width: 320px;
        height: 45px;
    }
}

p{
    position: relative;
    width: 620px;
    height: 45px;
    color: var(--support-font);
    font-size: .9rem;
    font-weight: 400;
}

@media (max-width: 767px) {
    p{
        font-size: .6rem;
        width: 320px;
        height: 45px;
    }
}

li{
    list-style: none;
}


/*SEKCJA HEADERA*/

header{
    position: relative;
    width: 100%;
    height: 80px;
    z-index: 1000;
    padding: 1%;
}

.header-logo{
    width: 70px;
    height: 70px;
}

#logo-img{
    width: 70px;
    height: 70px;
}

.hamburger-menu{
    position: absolute;
    right: 20px;
    display: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.hamburger-menu div {
    width: 100%;
    height: 0.45rem;
    margin: .45rem 0;
    background-color: var(--secondary-font);
}

.header-navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    height: 75px;
    margin: 0 auto;
}

.header-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    width: 400px;
    height: 70px;
}

.header-menu a, .header-dropdownmenu a{
    color: var(--secondary-font);
}

.header-menu a:hover, .header-dropdownmenu a:hover{
    color: var(--support-extra-light);
}

.header-dropdownmenu{
    position: absolute;
    display: none;
    top: 60px;
    width: 100%;
    background-color: var(--support-box);
    z-index: 1000;
}

.header-dropdownmenu li{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

@media (max-width: 767px) {
    .hamburger-menu{
        display: block;
    }

    .header-menu{
        display: none;
    }
}

/*---------------------------SEKCJA FOOTERA---------------------------*/
/*global*/
footer{
    height: 190px;
}

footer p{
    color: var(--secondary-font);
    max-width: 250px;
    height: 25px;
}

footer img{
    width: 20px;
    height: 20px;
}

.footer-up-handler, .footer-down-handler{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 85%;
}

/*up*/
.footer-up-container{
    height: 145px;
    background-color: var(--support);
    box-shadow: var(--bottom-shadow-box);
}

.footer-up-ci p{
    height: 20px;
}

/*down*/
.footer-down-container{
    height: 35px;
    background-color: var(--primary);
}

.footer-sm{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.footer-button{
    background-color: var(--secondary);
    color: var(--primary-font);
    font-weight: 600;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 10px;
    width: 100%;
}

.footer-button:hover{
    transform: scale(1.03);
    background-color: var(--support-extra-light);
}

.footer-down-handler a p{
    text-align: right;
}


@media (max-width: 767px) {
    footer{
        height: 230px;
    }

    footer p{
        max-width: 160px;
        height: 23px;
    }

    .footer-up-container{
        height: 260px;
    }

    .footer-up-handler {
        flex-wrap: wrap;
    }
    .footer-up-handler > div {
        flex: 1 0 100%;
        margin: 5px 0;
    }
    .footer-up-handler > div:nth-child(-n+2) {
        flex: 1 0 50%;
    }
}

/* KĄCIK CUKIERNIKA */

#cookies-container{
    position: fixed;
    display: none;
    flex-direction: row;
    justify-content: center;
    bottom: 0;
    background-color: var(--secondary);
    text-align: center;
    font-size: .8rem;
    color: var(--primary-font);
    width: 100%;
    z-index: 1000;
    padding: .3rem;
}

#cookies-container p{
    padding: .3rem;
}

#cookies-container button{
    background-color: rgb(5, 112, 5);
    color: var(--primary-font);
    padding: .3rem;
    margin-left: .8rem;
}

/*-----------------SEKCJA ENTRY-------------------*/

.entry-container{
    align-items: center;
    background-color: var(--secondary);
    height: 350px;
}
.entry-title{
    text-align: center;
}

.entry-title .separator{
    width: 400px;
    height: 5px;
    fill: none;
    justify-self: center;
}

.entry-title .separator path{
    stroke: var(--support-extra-light);
    stroke-width: 5;
}

.entry-title p{
    top: 25px;
}

@media (max-width: 767px) {
    .entry-container{
        height: 200px;
    }

    .entry-title .separator{
        width: 320px;
    }
}

/*------------------------------------------------*/