/* SEKCJA ENTRY */
/* jest w globalu*/

.offer-container-a{
    background-color: var(--support);
}

.offer-container-b{
    background-color: var(--primary);
}

.offer-handler{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (max-width: 767px){
    .offer-handler{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.offer-block{
    margin: .8rem;
    background-color: var(--support-box);
}

.offer-block:hover{
    transform: scale(1.03);
}

.offer-content{
    margin: 6px;
}

.offer-content-title{
    text-align: center;
    color: var(--secondary-font);
}

.offer-content-desc{
    text-align: left;
    height: auto;
    color: var(--secondary-font);
}

/*SEGMENT KONTAKTU*/

.contact-us-block{
    text-align: center;
}

.contact-us-block p{
    color: var(--secondary-font);
}

.contact-us-button{
    background-color: var(--secondary);
    color: var(--primary-font);
    font-weight: 600;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 10px;
    width: 100%;
}